@model Expense_Tracker.Models.User




<div class="glass-container d-flex justify-content-center align-items-center ">
    <div class="expense-form-container">
        <div class="expense-header" style="margin-left:0">
            Delete this user
        </div>
        <div class="row align-content-center mt-2">
            <div class="col-md-12">
                <div class="form-group">
                    <dl class="mb-4 text-white">
                        @Html.Raw(@Html.DisplayNameFor(model => model.Username))  :   @Html.DisplayFor(model => model.Username)
                    </dl>

                </div>
                <form asp-action="DeletePost">
                    
                     <input type="hidden" asp-for="Id" />


                    <div class="form-group d-inline-flex  mb-3">
                        <input type="submit" value="Delete" class="add-btn" style="margin-left:0px" />
                            <button class="dropbtn " style="margin-left:15px">
                                <a asp-action="Index" class="button-link">Back to List</a>
                            </button>
                    </div>
                   
                </form>
            </div>
        </div>
    </div>
</div>