@{
    ViewData["Title"] = "Home Page";
}

<div class="hero">
    <div class="inner-rectangle">
        <h6>Next generation of</h6>
    </div>
    <h1 class="mt-4 text-white">Expense tracking.</h1>
    <p class="text-white-50 mt-4" style="padding:0px 300px;">Finfit is the ultimate tool for managing your money and staying on top of your expenses. With our easy-to-use app, you can quickly input and categorize your expenses, set and track a budget.</p>

    <div class="form-group mt-5 mb-2">
        <button style="margin-left: 15px; background: #66C491; border: 2px solid #66C491; border-radius: 15px; color: black; font-size: bold; padding: 10px 20px;font-weight:bold">
            Download
        </button>
      
        <button style="margin-left: 15px; background: transparent; border: 2px solid silver; border-radius: 15px; color: white; font-size: bold; padding: 10px 20px;font-weight:bold">
            Documentation
        </button>
    </div>

    <img src="~/Images/Expense.png" alt="Alternate Text" class="expense-image" />

</div>

